<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://jsdelivr.net"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
    <header>
      <nav>
        <p class="company-name">JobConnect</p>
        <ul>
            <li class="home"><a th:href="@{/home}">Home</a></li>
            <li class="reg"><a th:href="@{/register}">Register</a></li>
            <li class="login"><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}" class="start-btn">Get Started</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="home-content">
          <h4>Find Your Dream Job</h4>
          <h1><strong>Discover Careers with</strong></h1>
          <h1><strong>Job<span>Connect</span></strong></h1>
          <p>A professional platform to connect talent with opportunity</p>
      </div>
    </main>
</body>
</html>
