body{
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: "inter","Open Sans", sans-serif;
}
header{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9FAFB;
  padding: 0px 15px 0px 45px;
  border-bottom: 1px solid #E5E7EB;
}
.company-name{
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}
header nav ul{
  display: flex;
  list-style: none;
}
header nav ul li{
  margin-inline: 22px;
  font-size: 16px;
  letter-spacing: 0.2px;
  cursor: pointer;
  padding: 9px 18px;
  color: #919191;
}
.home:hover, .reg:hover, .login:hover{
  color: #AAAAAA;
  padding: 9px 18px;
}
header nav ul li a{
  text-decoration: none;
  color: #000000;
}
.start-btn{
  border-radius: 7px;
  background-color: #2563EB;
  color: #FFFFFF;
  padding: 11px 22px;
  font-size: 14px;
}
.home-content{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
 font-size: 64px;
 margin: 0px 0px;
 font-weight: 700;
}
h1 span{
  color: #5186f2;
}
h4{
  color: #3b75ef;
  font-size: 26px;
  margin-bottom: 14px;
}
.home-content p{
  font-size: 24px;
  color: #797979;
}
